[Unit]
Description=Bigdots Server
After=network.target
Wants=network.target
[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=5
TimeoutStopSec=600
WorkingDirectory=/usr/local/bin/hardware-client/server
ExecStart=sudo /usr/local/bin/node --experimental-strip-types index.ts --rows 32 --cols 32 --chain-length 1 --brightness 30
[Install]
WantedBy=default.target